body {
    background-color: #0b0e14;
    color: #e0e080;
    font-family: monospace;
    margin: 0;
    padding: 10px;
}

#layout-principal {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 60px 60px 120px 120px 60px;
    gap: 15px;
    height: calc(100vh - 20px);
}

.bloque {
    background-color: #1c1f26;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2d3139;
    font-size: 1.2rem;
}


.top-superior { 
    grid-column: 1 / 3;
}

.top-nav { 
    grid-column: 1 / 3;
}

.top-central { 
    grid-column: 1 / 2;
}

.top-article { 
    grid-column: 1 / 2;
}

.top-izquierdo { 
    grid-column: 2 / 3;
    grid-row: 3 / 5;
}

.top-interior { 
    grid-column: 1 / 3;
}
